.header-wrapper {
  .top-header {
    background: #E4E4E4;
    height: 30px;
    width: 100%;
    position: relative;

    .top-header-item {
      padding: 2px 12px;
      a {
        color: #271F77;
      }
      span {
        text-transform: uppercase;
        color: #4E4E4E;
        font-size: 12px;
        font-weight: 600;
        &.register {
          color: #271F77;
        }
      }
      &:hover {
        background: rgba(255, 255, 255, 0.2);
        cursor: pointer;
        a {
          color: dodgerblue;
        }
        span.register {
          color: dodgerblue;
        }
      }
    }
  }
  .middle-header {
    background: #F5F5F5;
    width: 100%;
    height: 100px;
    position: relative;
  }
}
